@use "../../styles/breakpoints";
@use "../../styles/variables";

// These styles are imported directly into App.js, and as such will apply to all components.

.product-card-img {
  width: 50%;
  height:auto;
  margin: auto;
  max-width: 100px;
  max-height: 100px;
  min-width: 50px;
  min-height: 50px;
  @include breakpoints.mobile-landscape {
    max-width: 75px;
    max-height: 75px;
  }
}

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px auto;
  background-color: variables.$secondary;
  border-radius: 25px;
  width: 40%;
  height:auto;
  min-width: 50px;
  min-height: 50px;
  @include breakpoints.lg {
    width: 60%;
  }
  @include breakpoints.md {
    width: 70%;
  }
  @include breakpoints.sm {
    width: 80%;
  }
  @include breakpoints.xs {
    width: 95%;
    margin: 5px auto;
  }
  @include breakpoints.mobile-landscape {
    width: 95%;
    padding: 3px;
  }
  @include breakpoints.ipad-landscape {
    width: 80%;
    padding: 3px;
  }
}

.product-card.p, .product-card.h2, .product-card.img, .product-card.button, .product-card.a {
  @include breakpoints.mobile-landscape {
    font-size: small;
    margin: 1px auto;
  }
}

.search-bar-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: auto;
  min-width: 50px;
  margin: 5px auto;
  @include breakpoints.lg {
    width: 60%;
  }
  @include breakpoints.md {
    width: 70%;
  }
  @include breakpoints.sm {
    width: 80%;
  }
  @include breakpoints.xs {
    width: 95%;
    margin: 5px auto;
  }
  @include breakpoints.mobile-landscape {
    width: 50%;
  }
  @include breakpoints.ipad-landscape {
    width: 60%;
  }
}

.search-bar {
  border-radius: 25px;
  background-color: variables.$secondary;
  padding: 15px;
  max-width: 1000px;
  width: 95%;
  height: auto;
  color: variables.$tertiary;
  border: none;
  text-align: center;
  font-size: large;
}

.quick-search-title {
  margin: 2px auto;
}

.search-suggestions-cont {
  display: flex;
  justify-content: center;
  width: 95%;
  max-width: 1000px;
  height: auto;
  margin: 5px auto;
}

.search-suggestion-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-suggestions-sub-cont {
  width: 95%;
  height: auto;
}

.search-a-tag {
  text-align: center;
  width: 100%;
  padding: 10px;
  @include breakpoints.sm {
    padding: 5px;
  }
}

.quick-search-view-btn, .span-search {
  margin: auto 10px;
}

.quick-search-view-btn {
  width: 150px;
  height: auto;
  padding: 10px;
  font-size: large;
  font-weight: bold;
  border-radius: 25px;
  background-color: variables.$primary;
  color: variables.$tertiary;
  @include breakpoints.md {
    width: 125px;
  }
}

.span-search {
  font-weight: bold;
}

.text-div-product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.h2-card {
  margin: 2px auto;
}

.text-div-product-card span {
  width: 100%;
  text-align: center;
  margin: auto;
  margin: 2.5px auto;
}