@use "../../../styles/breakpoints";
@use "../../../styles/variables";

.cart-item-price-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px auto;
  font-weight: bold;
  font-size: large;
}

.cart-item-price-cont > span {
  margin: 5px;
}

.cart-product-card {
  display: flex;
  flex-direction: column;
  background-color: variables.$secondary;
  border-radius: 25px;
  width: 60%;
  height: auto;
  margin: 5px auto;
  padding: 10px;
  @include breakpoints.lg {
    width: 70%;
  }
  @include breakpoints.md {
    width: 80%;
  }
  @include breakpoints.sm {
    width: 90%;
    flex-direction: column;
    margin: 3px auto;
  }
  @include breakpoints.xs {
    width: 92%;
    margin: 1px auto;
  }
}

.cart-total-cont {
  background-color: variables.$secondary;
  color: variables.$tertiary;
  border-radius: 25px;
  width: 40%;
  margin: 15px auto;
  padding: 15px;
  font-weight: bold;
}

.counter-button {
  background-color: variables.$tertiary;
  padding: 7px;
  color: white;
  font-weight: bold;
  font-size: large;
  width: 50px;
  height: 50px;
  margin: 5px;
}

.button-cont-cart {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 7px;
  width: 100%;
  height: auto;
  // min-height: 200px;
  // @include breakpoints.lg {
  //   min-height: 180px;
  // }
  // @include breakpoints.md {
  //   flex-direction: column;
  // }
  // @include breakpoints.sm {
  //   min-height: 160px;
  // }
}

.button-cont {
  margin: auto;
}

.quantity-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
}