$primary: rgb(255, 196, 196);
$secondary: bisque;
$tertiary: brown;
$primary-shadow: rgb(247, 186, 217);
$primary-shadow2: rgb(248, 72, 151);
$primary-shadow3: rgb(200, 18, 99);
$success: green;
$error: red;
