$primary: rgb(255, 196, 196);
$secondary: bisque;
$tertiary: brown;
$success: green;
$error: red;

// // Possible styling colors for developing brand identity
// $primary-shadow: rgb(248, 72, 151);
// $secondary-shadow: rgb(247, 186, 217);
// $tertiary-shadow: rgb(200, 18, 99);