header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}

.logo {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.shopping-cart-class {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}