body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// .logo {
//   width: 100px;
//   height: 100px;
//   margin: 0 auto;
// }

// .shopping-cart-class {
//   width: 100px;
//   height: 100px;
//   margin: 0 auto;
// }

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
}

h1, h2, h3, h4 {
  text-align: center;
}

.cta-button {
  width: 100px;
  height: auto;
  margin: 5px auto;
  padding: 10px;
  font-size: large;
  font-weight: bold;
  border-radius: 25px;
}

.cta-link {
  text-align: center;
  margin: 0 auto;
}