@use "../../styles/breakpoints";
@use "../../styles/variables";

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 50%;
  max-width: 700px;
  @include breakpoints.md {
    width: 80%;
  }
  @include breakpoints.sm {
    width: 90%;
  }
}

.success-message {
  color: variables.$success;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
  @include breakpoints.lg {
    margin-bottom: 10px;
  }
  @include breakpoints.sm {
    margin-bottom: 5px;
  }
  @include breakpoints.mobile-landscape {
    margin-bottom: 2px;
  }
  @include breakpoints.ipad-landscape {
    margin-bottom: 2px;
  }
}

.error-message {
  color: variables.$error;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
  @include breakpoints.lg {
    margin-bottom: 10px;
  }
  @include breakpoints.sm {
    margin-bottom: 5px;
  }
  @include breakpoints.mobile-landscape {
    margin-bottom: 2px;
  }
  @include breakpoints.ipad-landscape {
    margin-bottom: 2px;
  }
}

label, input {
  height: auto;
  width: 95%;
  margin: auto;
  border-radius: 25px;
  padding: 10px;
  @include breakpoints.sm {
    padding: 5px;
  }
  @include breakpoints.xs {
    padding: 2.5px;
  }
  @include breakpoints.mobile-landscape {
    padding: 5px;
  }
  @include breakpoints.ipad-landscape {
    padding: 10px;
  }
}

input {
  color: black;
  background-color: variables.$secondary;
  border: none;
  text-align: center;
}

label {
  font-weight: bold;
  font-size: large;
  @include breakpoints.sm {
    font-size: medium;
  }
}

.submitted-data-span {
  font-weight: bold;
  font-size: medium;
}