@use "../../styles/breakpoints";
@use "../../styles/variables";

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 50%;
  max-width: 700px;
  @include breakpoints.md {
    width: 80%;
  }
  @include breakpoints.sm {
    width: 90%;
  }
}

.success-message {
  color: variables.$success;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.error-message {
  color: variables.$error;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

label, input {
  height: auto;
  width: 95%;
  margin: auto;
  border-radius: 25px;
  padding: 10px;
}

label {
  font-weight: bold;
  font-size: large;
}

.submitted-data-span {
  font-weight: bold;
  font-size: medium;
}