@use "../../styles/variables";

.shopping-cart-class {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.products-in-cart-div {
  margin: auto;
}

.cart-icon-a-tag {
  display: flex;
  flex-direction: column;
  margin: 3px 0 0 8.5px;
  border-radius: 25px;
  text-decoration: none;
  padding: 6.5px;
  background-color: variables.$secondary;
  text-align: center;
}

.product-count-cart {
  font-size: x-large;
  font-weight: bold;
}

// .active-cart {
//   background-color: variables.$primary;
//   padding: 5px;
//   border-radius: 25px;
// }